@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Roboto:wght@400;700&display=swap');
:root{
    --Negro: #000;
    --RojoOscuro: #8B0000;
    --Dorado: #FFD700;
    --GrisOscuro: #333333;
    --Blanco: #fff;
    --Poppins: 'Poppins', sans-serif;
    --Roboto: 'Roboto', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.colores{
    color: #007fff;
}
.container{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    background: linear-gradient(
        0deg,
        rgba(0,0,0,.5),
        rgba(0,0,0,.5)
    )
    ,url(../img/slashes2.png);
}
.Encabezado{
    width: 100%;
    position: fixed;
    transition: all .5s ease-in-out;
    z-index: 1111;
}
.Encabezado.active{
    background: #000;
}
.Encabezado.active .Encabezado__contenedor{
    padding: 1rem;
}
.Encabezado__contenedor{
    padding: 3rem 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all .5s ease-in-out;

}
.Encabezado__titulo{
    color: var(--Blanco);
    font-size: 4.5rem;
    font-family: var(--Roboto);
    letter-spacing: .5rem;
    transition: all .5s ease-in-out;
}
.Encabezado.active .Encabezado__titulo{
    font-size: 3.4rem;
    letter-spacing: 0;
}
.Enlace{
    position: relative;
    font-size: 2rem;
    margin: 0 1rem;
    color: var(--Blanco);
    text-decoration: none;
    font-family: var(--Roboto);
    font-weight: bold;
    padding-bottom: .3rem;
    transition: all .5s ease-in-out;
}
.Encabezado.active .Enlace{
    font-size: 1.8rem;
}
.Enlace::before{
    content: "";
    position: absolute;
    width:0%;
    height: .3rem;
    background: var(--Blanco);
    bottom: 0;
    transition: all 0.5s ease-in-out;
}
.Enlace:hover::before{
    width: 100%;
}
.Peliculas{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    max-width: 1300px;
    width: 100%;   
    margin: 0 auto;
    gap: 3rem;
    padding: 2rem;
}
img{
    width: 100%;
}
.card{
    position: relative;
    margin-bottom: 1rem;
    transition: all .2s ease-in-out;
    border-radius: 2rem;
    overflow: hidden;
}
.card:hover{
    box-shadow: 6px 6px 15px #E5A65E;
    /* background: rgba(255,255,255,.9); */
}
.titulo{
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: bold;
    color:var(--Blanco);
}
.descripcion{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    padding: 1rem;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.6);
    overflow: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
}
.card:hover .descripcion{
    opacity: 1;
}
.link--verMas{
    margin-top: 7rem;
    margin-bottom: 4rem;
    color: var(--Dorado);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}
.link--comprar{
    /* margin-top: 4rem; */
    background: #0173e5;
    color: var(--Blanco);
    font-size: 2rem;
    text-decoration: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
}
.Hero{
    width: 100%;
    height: 70vh;
    background: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.2)
    )
    ,url(../img/Fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.Hero__container{
    height: 100%;
    display: flex;
    align-items: center;
    gap: 8rem;
}
.Hero__contenedor{
    width: 60%;
}
.Hero__titulo{
    font-size: 5rem;
}
.Hero__parrafo{
    font-size: 2.5rem;
    margin-top: 2rem;
}
.Hero__Iconos{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
}
.Hero__Iconos i{
    font-size: 10rem;       
    color: var(--Dorado);
}
#Camara{
    animation: movimiento 3s infinite;
}
#Cinta{
    animation: movimiento 3s infinite .5s;

}
@keyframes movimiento {
    0%{transform: translateY(0)}
    50%{transform: translateY(-15px)}
    100%{transform: translateY(0)}

}
/* Estilos de los Botones */
.contenedorBotones{
    padding: 2rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
}
.btn{
    padding: 1rem 4rem;
    font-size: 1.7rem;
    border-radius: 2rem;
    border: none;
    background: #007fff;
    color: var(--Blanco);
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    background: #0173e5;
}
/* FOOTER */
.Footer{
    width: 100%;
    background:var(--Blanco);
}
.Footer__contenedor{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}
.Footer__titulo{
    font-size: 3rem;
    font-family: var(--Poppins);
    color: var(--GrisOscuro);
    font-weight: 900;
}
.Footer__contenedorIconos{
    margin-top: 2rem;
    font-size: 3rem;
    text-align: center;
}
.Footer__contenedorIconos i{
    margin: 0 1rem;
    color: #0173e5;
}
.contenedor__CopyRight{
    padding: 2rem;
}
.Footer__parrafo{
    font-size: 1.6rem;
    text-align: center;
    margin: 1rem 0;
    font-family: var(--Poppins);
    font-weight: 400;
}
.Principal__contenedor{
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.Principal__contenedorVideo{
    position: relative;
    margin-top: -2.5rem;
    width: 100%;
    margin-left: 10rem;
}
iframe{
    width: 50%;
    height: 40rem;
}
.Principal__contenido{
    position: absolute;
    width: 50rem;
    border-radius: 1rem;
    background: var(--Blanco);
    left: 55%;
    top: 50rem;
    padding: 3rem;
}
.Principal__parrafo{
    font-size: 1.8rem;
    line-height: 1.5;
    font-family: var(--Roboto);
}
.Principal__titulo{
    font-size: 3rem;
    font-family: var(--Poppins);
    font-weight: 300;
    letter-spacing: .5rem;
    margin-bottom: 1rem;
}
/* Estilos de Beneficios */
.Beneficios{
    width: 100%;
    background: var(--Blanco);
}
.Beneficios__container{
    width: 100%;
}
.Beneficios__titulo{
    font-size: 6rem;
    text-align: center;
    font-family: var(--Poppins);
    font-weight: 400;
    letter-spacing: .5rem;
    margin: 2rem 0;
}
.Beneficios__contenedor{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.Beneficios__carta{
    background:#f2f2f2;
    padding: 1.5rem;
    text-align: center;
    overflow: hidden;
    border-radius: 1.5rem;
    transition: all .3s ease-in-out;
}
.Beneficios__titulo2{
    font-size: 3rem;
    font-family: var(--Roboto);
    margin: 2rem;
}
.Beneficios__parrafo{
    font-size: 1.8rem;
    line-height: 1.7;
    font-family: var(--Roboto);
    font-style: italic;
}
.Beneficios__carta:hover{
    box-shadow: 3px 3px 20px #000;
}
.Beneficios__imagen{
    width: 100%;
    text-align: center;
}
.Beneficios__imagen img{
    width: 50%;
}
